# babel dist
/lib

# OS or Editor folders
.DS_Store
._*
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db

# Folders to ignore
.hg
.svn
.CVS
.idea
.nyc_output/
node_modules
old/
*-old/
*-notrack/
no-track/
combo/
reference/
jscoverage_lib/
temp/
tmp/
prebuilds/
build/

# vs code
.editorconfig
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
.travis.yml
.prebuildrc

# project
libjpeg/
*.tgz